@import "../../sass/_mixin";
@import "../../sass/_variables";
@import "../../sass/_reset";

.brand {
  &__container {
    padding: 10px;
    .count {
      .title {
        // font-family: "Inter", sans-serif;
        // font-style: normal;
        // font-weight: 700;
        // font-size: 42px;
        line-height: 45px;
        // color: #101131;
        color: var(--clr-font);
      }
      span {
        // font-family: "Inter", sans-serif;
        // font-style: normal;
        // font-weight: 400;
        // font-size: $fs-18;
        line-height: 20px;
        letter-spacing: -0.01em;
        // color: #606176;
        color: var(--clr-font);
      }
    }
  }
}

@media (max-width: 768px) {
  .brand {
    &__container {
      display: flex;
      flex-direction: column;
      .count {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}
.css-1633um2-MuiPaper-root {
  box-shadow: none !important;
}
