*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}
.dark-theme {
  --clr-bgc: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
  --clr-footer: #ccc;
}
.light-theme {
  --clr-bgc: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-footer: #606176;
}
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background: var(--clr-bgc);
  // color: #000;
  color: var(--clr-font);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

input,
textarea,
select {
  outline: 0;
  border: none;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
}
