@import "../../sass/_mixin";
@import "../../sass/_variables";
@import "../../sass/_reset";

.feature {
  &__container {
    padding: 10px;
  }
  &__title {
    margin-bottom: 20px;
    h1 {
      max-width: 591px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 56px;
      letter-spacing: -0.01em;
      // color: #101130;
      color: var(--clr-font);
      text-transform: unset;
    }
    a {
      padding: 12px 22px;
      // border: 1px solid #2076ff;
      border: 1px solid var(--clr-font);
      border-radius: 12px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.01em;
      // color: #2076ff;
      color: var(--clr-font);
      &:hover {
        background-color: #2076ff;
        border: 1px solid #2076ff;
        color: #fff;
        transition: all 0.5s linear;
      }
    }
  }
  &__items {
    width: 100%;
    // height: 587px;
  }
  &__item {
    background-color: var(--clr-bgc) !important ;
    &__title {
      height: 90px;
      // background-color: #2076ff;
      border-top-right-radius: 18px;
      border-top-left-radius: 18px;
      span {
        @include absolute;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: $fs-20;
        line-height: 38px;
        color: #ffffff;
      }
    }
    &__price {
      // background-color: #edf3ff;
      padding: 20px 0;
      h1 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: $fs-36;
        line-height: 38px;
        color: #101130;
        padding: 0 20px;
        span {
          position: absolute;
          top: -10px;
          left: 41%;
          font-size: $fs-18;
        }
      }
    }
  }
  &__content {
    padding: 0 50px;
    // background-color: #edf3ff;
    &__item {
      padding: 10px 0;
      // .circle {
      //   width: 12px;
      //   height: 12px;
      //   border-radius: 50%;
      //   // background-color: #2076ff;
      //   margin-right: 15px;
      // }
      p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $fs-16;
        line-height: 24px;
        color: #606176;
      }
    }
  }
  &__btn {
    // background-color: #edf3ff;
    padding: 40px 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    button {
      width: 100%;
      max-width: 260px;
      margin: 0 auto;
      padding: 20px 40px;
      // border: 1px solid #2076ff;
      border-radius: 14px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      // color: #2076ff;
    }
  }
}
.css-1sir9cm-MuiPaper-root {
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .feature {
    &__container {
      padding: 10px;
    }
    &__title {
      h1 {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}

@media (max-width: 440px) {
  .feature {
    &__container {
      padding: 10px;
    }
    &__title {
      h1 {
        font-size: $fs-24;
        line-height: 36px;
      }
      a {
        padding: 5px 10px;
        font-size: $fs-13;
        line-height: 16px;
      }
    }
    &__content {
      padding: 0 40px;
      &__item {
        padding: 10px 0;
        .circle {
          // width: 12px !important;
          // height: 12px !important;
          // border-radius: 50%;
          // background-color: #2076ff;
          margin-right: 10px !important;
        }
        p {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: $fs-14;
          line-height: 22px;
          color: #606176;
        }
      }
    }
    &__btn {
      padding: 30px 0;

      button {
        padding: 20px 40px;
        font-size: $fs-18;
        line-height: 24px;
      }
    }
  }
}
@media (max-width: 390px) {
  .feature {
    &__item {
      &__price {
        h1 {
          font-size: 28px;
          line-height: 38px;
          color: #101130;
          padding: 0 20px;
          span {
            position: absolute;
            top: -10px;
            left: 40% !important;
            font-size: $fs-14;
          }
        }
      }
    }
    &__content {
      padding: 0 30px;
      &__item {
        .circle {
          width: 8px;
          height: 8px;
          margin-right: 10px;
        }
        p {
          font-size: $fs-12;
          line-height: 20px;
        }
      }
    }
    &__btn {
      padding: 20px 0;

      button {
        max-width: 200px;
        padding: 15px 20px;
        font-size: $fs-18;
        line-height: 24px;
      }
    }
  }
}
@media (max-width: 280px) {
  .feature {
    &__item {
      &__price {
        h1 {
          font-size: 28px;
          line-height: 38px;
          color: #101130;
          padding: 0 20px;
          span {
            position: absolute;
            top: -10px;
            left: 35% !important;
            font-size: $fs-14;
          }
        }
      }
    }
    &__content {
      padding: 0 20px;
      &__item {
        .circle {
          width: 8px;
          height: 8px;
          margin-right: 10px;
        }
        p {
          font-size: 11px;
          line-height: 20px;
        }
      }
    }
    &__btn {
      padding: 15px 0;

      button {
        max-width: 150px;
        padding: 10px 20px;
        font-size: $fs-14;
        line-height: 24px;
      }
    }
  }
}
