@import "../../sass/_mixin";
@import "../../sass/_variables";

.footer {
  &__container {
    padding: 10px;
  }
  &__logo {
    &__icon {
      // @include absolute;
      width: 38px;
      height: 38px;
      background-color: #f77e53;
      border-radius: 19px;
      font-weight: 800;
      font-style: normal;
      font-size: $fs-28;
      line-height: 37px;
      letter-spacing: -0.01em;
      color: #fff;
      font-family: "Exo", sans-serif;
    }
    span {
      margin-left: 5px;
      font-family: "Exo", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: $fs-24;
      line-height: 32px;
      letter-spacing: -0.01em;
      color: #0f1130;
    }
  }
  &__text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $fs-15;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #606176;
  }
  &__item {
    // padding: 8px 30px;
    h1 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: $fs-22;
      line-height: 29px;
      // text-align: center;
      padding: 0 30px;
      letter-spacing: -0.01em;
      color: #101130;
    }
    ul {
      li {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: $fs-14;
        line-height: 19px;
        letter-spacing: -0.01em;
        color: #606176;
        padding: 8px 30px;
      }
    }
  }
  &__auth {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $fs-15;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #606176;
  }
}
@media (max-width: 910px) {
  .footer {
    &__container {
      hr {
        margin-top: 10px;
      }
    }
    &__item {
      // padding: 0 !im;
      h1 {
        padding: 0px !important;
      }
      ul {
        li {
          padding: 8px 6px !important;
        }
      }
    }
    &__links {
      margin: 10px 0 !important;
    }
    &__auth {
      margin-top: 20px;
      text-align: center;
    }
  }
}

// @media (max-width: 768px) {
//   .footer {
//     &__item {
//       // padding: 8px 30px;
//       h1 {
//         padding: 0px !important;
//       }
//       ul {
//         li {
//           padding: 8px 6px !important;
//         }
//       }
//     }
//   }
// }
